* text=auto

# Unity text assets
*.cs text eol=lf
*.asmdef text eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.hlsl text eol=lf
*.compute text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.mat text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.overrideController text eol=lf
*.playable text eol=lf
*.mask text eol=lf
*.renderTexture text eol=lf

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.psd binary
*.tga binary
*.mp3 binary
*.wav binary
*.ogg binary
*.zip binary
*.fbx binary
*.ttf binary
*.otf binary
